.sectionOne {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  min-height: 90vh;
  max-height: 100%;
  padding: 1.5rem;

  .content {
    width: 70%;
    margin: 2rem auto;

    h1 {
      font-size: 7rem;
      font-weight: 600;
      //letter-spacing: 1.5px;
      text-transform: uppercase;
    }

    h4 {
      margin: 0;
    }

    .inputWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      input {
        outline: none;
        border: none;
        width: 75%;
        background: none;
        padding: 0.5rem 0.75rem;
        font-size: 1.25rem;
        font-family: "Oxygen", sans-serif;
        letter-spacing: 1px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.75);
      }

      .btn {
        background: none;
        text-transform: capitalize;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 500;
        font-family: "Oxygen", sans-serif;
        background-color: rgb(149, 220, 255);
        color: #000000;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
      }
    }

    .linkListContainer {
      margin: 3rem 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);

      .linkListItem {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        details {
          width: 100%;

          summary {
            h4 {
              display: inline-block;
              margin-top: 0;
            }
          }

          .linkListItemRow {
            margin: 0.75rem 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h5 {
              padding-left: 1rem;
              margin: 0;
            }

            .btn {
              padding: 0.5rem;
              background: none;
              background-color: #576cc0;
              color: #f7f7f7;
              border-radius: 1rem;
              -webkit-border-radius: 1rem;
              -moz-border-radius: 1rem;
              -ms-border-radius: 1rem;
              -o-border-radius: 1rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .sectionOne {
    .content {
      width: 85%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .sectionOne {
    .content {
      h1 {
        font-size: 5rem;
      }

      .linkListContainer {
        padding: 1rem;
        .linkListItem {
          details {
            summary {
              h4 {
                width: 80%;
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .sectionOne {
    .content {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 450px) {
  .sectionOne {
    .content {
      h1 {
        font-size: 4rem;
      }

      .linkListContainer {
        .linkListItem {
          details {
            .linkListItemRow {
              h5 {
                padding: 0;
                width: 80%;
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}
