.container {
  width: 50%;
  min-width: 50%;
  max-width: 95%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  outline: none;
  background-color: rgb(170, 170, 255);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  .linkListItemRow {
    margin: 0.75rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
      padding-left: 1rem;
      margin: 0;
    }

    .btn {
      padding: 0.5rem;
      background: none;
      background-color: #43549a;
      color: #f7f7f7;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    h4 {
      width: 90%;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 80%;
    h4 {
      width: 90%;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    .linkListItemRow {
      h5 {
        padding: 0;
        width: 80%;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
